/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}